/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    height: 830px; min-width: 1220px;
    background-image: url(../images/h_bnr.jpg);
    background-size:cover; background-position:center;
    padding-top: 373px;
}
#wrap main #hero_bnr .ad_txt {
    text-align: center; margin-bottom: 48px;
}
#wrap main #hero_bnr .ad_txt p {
    font-size: 1.88rem;
    font-weight:500;
} 
#wrap main #hero_bnr .ad_txt h1 {
    font-size: 3.13rem;
    font-weight:700;
}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow:x y 흐림 색상; */
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: #fff;line-height: 1.5;
    font-family:'noto sans kr', sans-serif;
}
#wrap main #hero_bnr #reservation_form {
    width: 1073px; margin: 0 auto;
    padding: 20px 25px; border-radius: 20px;
    background-color:rgba(255,255,255,0.8);
    display: flex;/* 객실~체크인아웃~인원~검색 자식들 정력 flex */
}
/* --------------------------------객실~인원 공통디자인--------------------------------- */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    background-color: yellow;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {
    background-color: lime;
}
/* --------------------------------객실선택------------------------------------------- */
#wrap main #hero_bnr #reservation_form .room {}
#wrap main #hero_bnr #reservation_form .room h2 {}
#wrap main #hero_bnr #reservation_form .room .room_type {}
#wrap main #hero_bnr #reservation_form .room .room_type > a {}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name {}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span {}
#wrap main #hero_bnr #reservation_form .room .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a .name {}
/* --------------------------------체크인----------------------------------------- */
#wrap main #hero_bnr #reservation_form .check_in_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .check_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .check_in a {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .check_in a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .check_in a img {}
/* -------------------------------숙박일수---------------------------------------- */
#wrap main #hero_bnr #reservation_form .check_in_out .day {}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {}
/* -------------------------------체크아웃---------------------------------------- */
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .check_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .check_out a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .check_out a .date {}
/* --------------------------------인원----------------------------------------- */
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {}
#wrap main #hero_bnr #reservation_form .person h2 .number {}
#wrap main #hero_bnr #reservation_form .person h2 .number li {}
#wrap main #hero_bnr #reservation_form .person h2 .number li .number_btn {}/* 공통버튼 */
#wrap main #hero_bnr #reservation_form .person h2 .number li .number_btn img {}
#wrap main #hero_bnr #reservation_form .person h2 .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person h2 .number li #adult_add img {}
#wrap main #hero_bnr #reservation_form .person h2 .number li span {}
#wrap main #hero_bnr #reservation_form .person h2 .number li span label {}
#wrap main #hero_bnr #reservation_form .person h2 .number li span #adult {}
#wrap main #hero_bnr #reservation_form .person h2 .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person h2 .number li #kid_add {}
#wrap main #hero_bnr #reservation_form .person h2 .number li span #kid {}
#wrap main #hero_bnr #reservation_form .person h2 .number li #kid_remove {}